html {
  overflow: scroll;
  overflow-x: hidden;
}

body {
  background-image: url('https://art.pixilart.com/a13eea0ef7b0e3e.gif');
  background-attachment: fixed;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.App {
  width: 100%;
  min-height: 95vh;
  height: auto;
  text-align: center;
  justify-content: center;
  font-family: 'Silkscreen', cursive;
}

button {
    font-size: 20px;
    font-family: 'Silkscreen', cursive;
    letter-spacing: -2px;
}

.margin {
  margin: 1%;
}

.centered-content {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

.row-container {
  display: flex;
  justify-content: center;
  /* margin: 0px 10%; */
  padding-top: 4%;
  background-color: #3232329d;
  width: 100%;
}
.row {
  width: auto;
  display: flex;
  justify-content: space-evenly;
}

.cell {
  width: 32px;
  height: 20px;
  border: 0px;
  margin: 2px;
  font-size: 0px;
}

.pitch:hover {
  font-size: 15px;
}

.hover {
  cursor: pointer;
}

.current-step-activated {
  background-color: #323232;
}

.current-step {
  background-color: #00c500;
}

.active-note {
  background-color: #323232;
}

.on-barHover {
  background-color: #43966e;
}

.on-barHover-percussion {
  background-color: #191919;
}

.on {
  background-color: #65daa2;
}

.on-pitch {
  background-color: #f1e569;
}

.on-sample-1 {
  background-color: #817730;
}

.on-sample-2 {
  background-color: #a3952e;
}

.on-percussion {
  background-color: #453f11;
}

.barHover {
  background-color: #eef;
}

.barHover-simple {
  background-color: #a6ee80;
}

.waiting {
  background-color: #f9f9f9;
}

.waiting-simple-1 {
  background-color: #9fb45c;
}

.waiting-simple-2 {
  background-color: #99ae5a;
}

.waiting-simple-3 {
  background-color: #9fb45c;
}

.waiting-simple-4 {
  background-color: #a2b75e;
}


.piano-roll {
  height: 100%
}

.roll-note {
  width: 72px;
  height: 20px;
  border: 2px solid black;
}

.accidental {
  background-color: black;
  color: white;
}


.column-container {
  width: 1800px;
  height: 400px;
  display: flex;
  padding-top: 5%;
  justify-content: center;
  align-items: flex-end;
}

.stretching {
  animation: stretch 5500ms infinite;
}

.unstretch {
  animation: stretch 5500ms;
}


@keyframes stretch {
  50% {
    height: 68%;
    margin-bottom: .5%;
  }
}


.simple-editor-view {
  margin-top: 8%;
}

.simple-pitch-container {
  height: 33%;
  justify-content: center;
  align-items: flex-end;
}

.pitch-menu {
  height: 30%;
}

.pitch-buttons {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  outline: 3px solid #4e4724;
}

.pitch-button {
  width: 12.5%;
  z-index: 0;
  background-color: #89944f;
  border: 0px;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 0px;
  color: #ecd175;
  font-family: 'DotGothic16', sans-serif;
  transition: z-index 0ms, 100ms;
}

.pitch-button:hover {
  width: 25%;
  z-index: 20;
  font-size: 20px;
}

.simple-pitch-row-container {
  height: 70%;
}

.simple-percussion-container {
  height: 67%;
  margin-top: 2px;
}

.column {
  width: 10%;
  height: 60%;
  outline: 4px solid #4e4724;
  background-color: #a2b75e;
  overflow: hidden;
}

.simple-pitch-row {
  height: 1.5px; 
  display: flex;
}

.simple-percussion-row {
  height: 8.34%;
  display: flex;
}

.cell-holder {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.simple-pitch-cell {
  width: 100%;
  height: 100%;
  border: 0px;
}

.simple-sample-cell {
  width: 100%;
  height: 100%;
  border: 0px;
}

.simple-percussion-cell {
  width: 100%;
  height: 100%;
  border: 0px;
}

.ui-buttons {
  margin-top: 2%;
}

.ui-button {
  outline: 3px solid black;
  width: 100px;
  margin: 0 10px;
}

/* .toggled {
  animation: glow 1000ms infinite alternate;
}

@keyframes glow {
  from {
    box-shadow: 0 0 10px -10px #eef4ae;
  }

  to {
    box-shadow: 0 0 10px 10px #eef4ae;
  }
} */

.inputs-container {
  margin-top: 4%;
}