.App {
  text-align: center;
  justify-content: center;
}

.row-container {
  display: flex;
}
.row {
  width: auto;
  display: flex;
  justify-content: space-evenly;
}

.cell {
  width: 32px;
  height: 20px;
  border: 0px;
  margin: 2px;
}

.hover {
  cursor: pointer;
}

.current-step-activated {
  background-color: green;
}

.current-step {
  background-color: rgb(0, 197, 0);
}

.active-note {
  background-color: rgb(50, 50, 50);
}

.on-barHover {
  background-color: #43966e;
}

.on {
  background-color: #65daa2;
}

.barHover {
  background-color: #eef;
}

.waiting {
  background-color: #f9f9f9;
}

.piano-roll {
  height: 100%
}

.roll-note {
  width: 72px;
  height: 20px;
  border: 2px solid black;
}

.accidental {
  background-color: black;
  color: white;
}

.centered-content {
  display: flex;
  justify-content: center;
}

.simple-row{
  display:flex;
}